@import "https://use.fontawesome.com/releases/v5.15.3/css/all.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }
  .App{
    min-height:100vh;
    width:100%;
    overflow:hidden;
  }
  .app-header {
    text-align: center;
  }
  
  .app-body {
    margin: 0rem 2rem 0rem 2rem;
  }
  
  .comment,
  .like {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 100vh;
    background: white;
  }
  .comment-header-backbutton,
  .like-header-backbutton {
    position: fixed;
    top: 0;
    left: 0;
  }
  .comment-header,
  .like-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: white;
  }
  .comment-onpost {
    padding-top: 1.5rem;
    width: 100%;
    background: white;
  }
  .comment-feed {
    margin-bottom: 2rem;
    overflow-y: scroll;
    height: 100%;
  }
  .comment-input {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
  }
